<div class="content">

  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
    <div fxFlex="80">

      <button type="button" (click)="btnClick()" mat-raised-button class="heading-buttons">
        <mat-icon>add</mat-icon>Add
      </button>
     
      <button type="button" (click)="exportXlsx()" mat-raised-button class="heading-buttons">
        <mat-icon>grid_on</mat-icon>Export XLSX
      </button>

      <input type='text' class="filter" placeholder='Filter' (keyup)='updateFilter($event)' />

    </div>
  </div>

  <ngx-datatable [rows]="coloaderRateInfo" style="height:500px" class='material striped' [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="40" [scrollbarV]="true">

    <!-- <ngx-datatable-column name="Edit" [frozenLeft]="true" width="50">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <a style="color:blue!important; cursor:pointer; " (click)="edit(row['id'])">
          <mat-icon>create</mat-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [frozenLeft]="true" name="Delete" width="60">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <a style="color:red!important ; cursor:pointer;">
          <mat-icon (click)="delete(row['id'])">delete_sweep</mat-icon>
        </a>
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Action" [frozenLeft]="true" width="100">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <button class="btnIn" (click)="edit(row['id'])">
          <i class="fa fa-pencil" style="color:white"></i>
        </button>&nbsp;
        <button class="btnIn" (click)="delete(row['id'])">
          <i class="fa fa-trash" aria-hidden="true" style="color:white"></i>
        </button>&nbsp;
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Coloader Name" prop="coloaderName"></ngx-datatable-column>
    <ngx-datatable-column name="Mode" prop="modeName"></ngx-datatable-column>
    <ngx-datatable-column name="Source" prop="origin"></ngx-datatable-column>
    <ngx-datatable-column name="Destination" prop="destination"></ngx-datatable-column>
    <ngx-datatable-column name="Rate / KG" prop="ratePerKG"></ngx-datatable-column>
  </ngx-datatable>
</div>