<div class="content">

  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
    <div fxFlex="80">
      <button type="button" (click)="btnClick()" mat-raised-button class="heading-buttons">
        <mat-icon>add</mat-icon>Add
      </button>
      <button type="button" (click)="exportXlsx()" mat-raised-button class="heading-buttons">
        <mat-icon>grid_on</mat-icon>Export XLSX
      </button>
      <input type='text' class="filter" placeholder='Filter' (keyup)='updateFilter($event)' />
    </div>
  </div>

  <ngx-datatable [rows]="cityInfo" style="height:500px" class='material striped' [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="40" [scrollbarV]="true">
    <ngx-datatable-column name="Action" [frozenLeft]="true" width="100">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <button class="btnIn" (click)="edit(row['id'])">
          <i class="fa fa-pencil" style="color:white"></i>
        </button>&nbsp;
        <button class="btnIn" (click)="delete(row['id'])">
          <i class="fa fa-trash" aria-hidden="true" style="color:white"></i>
        </button>&nbsp;
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="City Code" prop="cityCode"></ngx-datatable-column>
    <ngx-datatable-column name="City Name" prop="cityName"></ngx-datatable-column>
    <ngx-datatable-column name="State" prop="stateName"></ngx-datatable-column>
    <ngx-datatable-column name="Via Office Type" prop="officeType"></ngx-datatable-column>
    <ngx-datatable-column name="Via Office Name" prop="officeCode"></ngx-datatable-column>
    <ngx-datatable-column name="Transaction Type" prop="transType"></ngx-datatable-column>
  </ngx-datatable>
</div>