<div class="content">
  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
  </div>
  <form class="form-group" [formGroup]="coloaderForm">

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Coloader Code *</label>
        <div class="input-container">
          <i class="fa fa-file-code-o icon"></i>
          <input class="form-control" type="text" formControlName="coloaderCode" [ngClass]="{ 'is-invalid': f.coloaderCode.touched && f.coloaderCode.errors }">
        </div>
        <div *ngIf="f.coloaderCode.touched && f.coloaderCode.errors" class="text-danger">
          <div *ngIf="f.coloaderCode.errors.required">Coloader Code is required</div>
          <div *ngIf="f.coloaderCode.invalid && !f.coloaderCode.errors.required">Enter valid Coloader Code</div>
        </div>
      </div>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Coloader Name *</label>
        <div class="input-container">
          <i class="fa fa-train icon"></i>
          <input class="form-control" type="text" formControlName="coloaderName" [ngClass]="{ 'is-invalid': f.coloaderName.touched && f.coloaderName.errors }">
        </div>
        <div *ngIf="f.coloaderName.touched && f.coloaderName.errors" class="text-danger">
          <div *ngIf="f.coloaderName.errors.required">Coloader Name is required</div>
          <div *ngIf="f.coloaderName.invalid && !f.coloaderName.errors.required">Enter valid Coloader Name</div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Address 1 *</label>
        <div class="input-container">
          <i class="fa fa-address-card-o icon"></i>
          <textarea class="form-control" formControlName="coloaderAdd1" [ngClass]="{ 'is-invalid': f.coloaderAdd1.touched && f.coloaderAdd1.errors }"></textarea>
        </div>
        <div *ngIf="f.coloaderAdd1.touched && f.coloaderAdd1.errors" class="text-danger">
          <div *ngIf="f.coloaderAdd1.errors.required">Address is required</div>
          <div *ngIf="f.coloaderAdd1.invalid && !f.coloaderAdd1.errors.required">Enter valid Address</div>
        </div>
      </div>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Address 2 (*optional)</label>
        <div class="input-container">
          <i class="fa fa-address-card-o icon"></i>
          <textarea class="form-control" formControlName="coloaderAdd2" [ngClass]="{ 'is-invalid': f.coloaderAdd2.touched && f.coloaderAdd2.errors }"></textarea>
        </div>
        <div *ngIf="f.coloaderAdd2.touched && f.coloaderAdd2.errors" class="text-danger">
          <div *ngIf="f.coloaderAdd2.invalid && !f.coloaderAdd2.errors.required">Enter valid Address</div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Contact Person Name</label>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input type="text" class="form-control" formControlName="coloaderContact" [ngClass]="{ 'is-invalid': f.coloaderContact.touched && f.coloaderContact.errors }">
        </div>
        <div *ngIf="f.coloaderContact.touched && f.coloaderContact.errors" class="text-danger">
          <div *ngIf="f.coloaderContact.invalid && !f.coloaderContact.errors.required">Enter valid Contact Person Name</div>
        </div>
      </div>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="100">
        <label class="label">Phone Number *</label>
        <div class="input-container">
          <i class="fa fa-phone icon"></i>
          <input type="text" class="form-control" formControlName="coloaderPhone" [ngClass]="{ 'is-invalid': f.coloaderPhone.touched && f.coloaderPhone.errors }">
        </div>
        <div *ngIf="f.coloaderPhone.touched && f.coloaderPhone.errors" class="text-danger">
          <div *ngIf="f.coloaderPhone.errors.required">Phone Number is required</div>
          <div *ngIf="f.coloaderPhone.invalid && !f.coloaderPhone.errors.required">Enter valid Phone Number</div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="33" fxFlex.sm="33" fxFlex.xs="33">
        <label class="label">Reporting Office Type</label>
        <div class="input-container">
          <i class="fa fa-keyboard-o icon"></i>
          <ng-select [items]="officeType" bindLabel="type" dropdownPosition="bottom" bindValue="type" class="ng-select" formControlName="coloaderRepOffType" (change)="getOfficeByType();">
            <ng-template ng-label-tmp let-item="item">
              <small> {{item.type}}</small>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <small> {{item.type}}</small>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div fxFlex="33" fxFlex.sm="33" fxFlex.xs="33">
        <label class="label">Reporting Office</label>
        <div class="input-container">
          <i class="fa fa-building icon"></i>
          <ng-select [searchFn]="officeSearch" [items]="officeByType" bindLabel="code" dropdownPosition="bottom" bindValue="code" class="ng-select" formControlName="coloaderRepOff">
            <ng-template ng-label-tmp let-item="item">
              <small> {{item.code}} | {{item.name}}</small>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <small> {{item.code}} | {{item.name}}</small>
            </ng-template>
          </ng-select>
        </div>
        <div *ngIf="f.coloaderRepOff.touched && f.coloaderRepOff.errors" class="text-danger">
          <div *ngIf="f.coloaderRepOff.invalid && !f.coloaderRepOff.errors.required">Enter valid Reporting
            Office </div>
        </div>
      </div>

      <div fxFlex="34" fxFlex.sm="34" fxFlex.xs="34">
        <label class="label">Mode *</label>
        <div class="input-container">
          <i class="fa fa-plane icon"></i>
          <ng-select [searchFn]="modeSearch" [items]="modeList" bindLabel="modeCode" bindValue="modeCode" class="ng-select" formControlName="coloaderMode"
            [ngClass]="{ 'is-invalid': f.coloaderMode.touched && f.coloaderMode.errors }">
            <ng-template ng-label-tmp let-item="item">
              <small> {{item.modeCode}} | {{item.modeName}}</small>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <small> {{item.modeCode}} | {{item.modeName}}</small>
            </ng-template>
          </ng-select>
        </div>
        <div *ngIf="f.coloaderMode.touched && f.coloaderMode.errors" class="text-danger">
          <div *ngIf="f.coloaderMode.invalid && !f.coloaderMode.errors.required">Enter valid Mode</div>
        </div>
      </div>
    </div>

    <h6 style="color:red;">(*) Mandatory Fields</h6>
    <div class="content">
      <button mat-raised-button [disabled]="!coloaderForm.valid" (click)="onFormSubmit();" class="save-button">Save
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="reset()" type="reset" mat-raised-button class="reset-button">Reset
        <mat-icon>refresh</mat-icon>
      </button>
      <button (click)="back()" mat-raised-button class="cancel-button">Cancel
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </form>
</div>