<mat-card>
  <mat-card-title color="primary">Change Password</mat-card-title>
  <mat-card-content fxLayout="column">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()"> 
      <div class="form-group" style="margin:10px">
        <input style="padding:5px" matInput formControlName="oldPassword" placeholder="Old Password" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"
           />
        <div *ngIf="submitted && f.oldPassword.errors" class="warning">
          <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
        </div>
      </div>
      <div class="form-group" style="margin:10px">
        <input type="password" style="padding:5px" matInput  formControlName="newPassword" placeholder="New Password"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="warning">
          <div *ngIf="f.newPassword.errors.required">New password is required</div>
        </div>
      </div>
      <div class="form-group" style="margin:10px">
        <input type="password" style="padding:5px" matInput formControlName="confirmPassword" placeholder="Confirm New Password"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="warning">
          <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
        </div>
        <div *ngIf="passwordChangeForm.hasError('invalidPassword')" class="warning">
          Passwords do not match
        </div>
      </div>
      <div class="warning"></div>
      <div class="form-group">
        <br>
        <button style="margin:3px" [disabled]="!passwordChangeForm.valid || passwordChangeForm.hasError('invalidPassword')" type="submit" mat-raised-button color="primary">
          <mat-icon>
            save </mat-icon>Submit
        </button>
        <button style="margin:3px" (click)="closeDialog()" type="button" mat-raised-button color="warn">
          <mat-icon>
            close
          </mat-icon>Close
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>