<div class="content">

  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
    <div fxFlex="80">
      <button type="button" (click)="btnClick()" mat-raised-button class="heading-buttons">
        <mat-icon>add</mat-icon>Add
      </button>
      <button type="button" (click)="exportXlsx()" mat-raised-button class="heading-buttons">
        <mat-icon>grid_on</mat-icon>Export XLSX
      </button>
      <input type='text' class="filter" placeholder='Filter' (keyup)='updateFilter($event)' />
    </div>
  </div>

  <ngx-datatable [rows]="codeGenInfo" style="height:500px" class='material striped' [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="40" [scrollbarV]="true">

    <ngx-datatable-column [frozenLeft]="true" name="Action" width="100">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        
        <button class="btnIn" (click)="edit(row['id'])">
          <i class="fa fa-pencil" style="color:white"></i>
        </button>&nbsp;
        <button class="btnIn" (click)="delete(row['id'])">
          <i class="fa fa-trash" aria-hidden="true" style="color:white"></i>
        </button>&nbsp;
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Branch Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Mode" prop="modeName"></ngx-datatable-column>
    <ngx-datatable-column name="Code Type" prop="codeType"></ngx-datatable-column>
    <ngx-datatable-column name="Starting Number" prop="startNo"></ngx-datatable-column>
    <ngx-datatable-column name="Ending Number" prop="endNo"></ngx-datatable-column>
    <ngx-datatable-column name="Last Number" prop="lastNumber"></ngx-datatable-column>

  </ngx-datatable>

</div>