<div class="content">

  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
    <div fxFlex="80">
      <button type="button" (click)="btnClick()" mat-raised-button class="heading-buttons">
        <mat-icon>add</mat-icon>Add
      </button>
      <button type="button" (click)="exportXlsx()" mat-raised-button class="heading-buttons">
        <mat-icon>grid_on</mat-icon>Export XLSX
      </button>
      <input type='text' class="filter" placeholder='Filter' (keyup)='updateFilter($event)' />
    </div>
  </div>

  <ngx-datatable [rows]="pincodeRateMasterInfo" style="height:500px" class='material striped' [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="40" [scrollbarV]="true">

    <ngx-datatable-column name="Action" [frozenLeft]="true" width="100">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <button class="btnIn" (click)="edit(row['id'])">
          <i class="fa fa-pencil" style="color:white"></i>
        </button>&nbsp;
        <button class="btnIn" (click)="delete(row['id'])">
          <i class="fa fa-trash" aria-hidden="true" style="color:white"></i>
        </button>&nbsp;
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Vendor Name" prop="vendorName" width="170"></ngx-datatable-column>
    <ngx-datatable-column name="City" prop="city" width="150"></ngx-datatable-column>
    <ngx-datatable-column name="State" prop="state" width="150"></ngx-datatable-column>
    <ngx-datatable-column name="Pincode" prop="postalCode"></ngx-datatable-column>
    <ngx-datatable-column name="Wt From" prop="wtFrom"></ngx-datatable-column>
    <ngx-datatable-column name="Wt To" prop="wtTo"></ngx-datatable-column>
    <ngx-datatable-column name="Rate" prop="rate"></ngx-datatable-column>
    <ngx-datatable-column name="Return Charge" prop="returnCharge"></ngx-datatable-column>
    <ngx-datatable-column name="Delivery Category" prop="category"></ngx-datatable-column>
    <ngx-datatable-column name="Mode" prop="mode"></ngx-datatable-column>
  </ngx-datatable>
</div>