<div class="content">

  <div class="heading" fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxLayoutAlign="start start" class="navbar-brand">{{globals.role}}</div>
  </div>

 
  <form [formGroup]="zoneForm" (ngSubmit)="onFormSubmit(zoneForm)">
    
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">

        <label class="label">Zone Code *</label>
        <div class="input-container">
          <i class="fa fa-file-code-o icon"></i>
          <input class="form-control" formControlName="zoneCode" type="text" [ngClass]="{ 'is-invalid': f.zoneCode.touched && f.zoneCode.errors }"
            >
        </div>
        <div *ngIf="f.zoneCode.touched && f.zoneCode.errors" class="text-danger">
          <div *ngIf="f.zoneCode.errors.required">Zone Code is required</div>
          <div *ngIf="f.zoneCode.invalid && !f.zoneCode.errors.required">Enter valid Zone Code</div>
        </div>
      </div>

      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">
        <label class="label">Zone Name *</label>
        <div class="input-container">
          <i class="fa fa-map-marker icon"></i>
          <input class="form-control" formControlName="zoneName" type="text" [ngClass]="{ 'is-invalid': f.zoneName.touched && f.zoneName.errors }"
            >
        </div>
        <div *ngIf="f.zoneName.touched && f.zoneName.errors" class="text-danger">
          <div *ngIf="f.zoneName.errors.required">Zone Name is required</div>
          <div *ngIf="f.zoneName.invalid && !f.zoneName.errors.required">Enter valid Zone Name</div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">
        <label class="label">Incharge</label>
        <div class="input-container">
          <i class="fa fa-id-card-o icon"></i>
          <input class="form-control" type="text" formControlName="zoneIncharge" [ngClass]="{ 'is-invalid': f.zoneIncharge.touched && f.zoneIncharge.errors }"
            >
        </div>
        <div *ngIf="f.zoneIncharge.touched && f.zoneIncharge.errors" class="text-danger">
          <div *ngIf="f.zoneIncharge.invalid && !f.zoneIncharge.errors.required">Enter valid Incharge</div>
        </div>
      </div>
    </div>
    <h6 style="color:red;">(*) Mandatory Fields</h6>
    <div class="content">
      <button mat-raised-button class="save-button" [disabled]="!zoneForm.valid">Save
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="reset()" type="reset" mat-raised-button class="reset-button">Reset
        <mat-icon>refresh</mat-icon>
      </button>
      <button (click)="back()" mat-raised-button class="cancel-button">Cancel
        <mat-icon>clear</mat-icon>
      </button>
    </div>

  </form>
</div>